<html>
	<body>

	</br>
	</br>
	</br>
	</br>

	<div class="jumbotron">
  		<h1>So what’s the deal with Mapper?</h1>
  		<p>Mapper is the product of a drunken one-night stand between Rand McNally and the Internet. On the advice of our rapacious army of weasel-faced corporate lawyers, we would like to point out that any resemblance between Mapper and Google Maps is purely coincidental. (Yeah right, and Elvis Presley is alive and well and working as a greeter at Walmart.)</p>
  		<!-- <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p> -->
	</div>
	<div id="MapMan">
	</div>

	</body>
</html>