<html>
	<body>

	</br>
	</br>
	</br>
	</br>

	<div class="jumbotron">
  		<h1>Forget Carmen Sandiego. </br> Where in the world are you?</h1>
  		<p>Trying to find your place in the world? Mapper to the rescue! Using state-of-the-art GPS technology, the latest mapping techniques and millions of tiny invisible magic elves, Mapper can zero in on your location with pinpoint precision. So no matter where life takes you or what new roads you explore, the one place you’ll never end up is lost.</p>
  		<p><a class="btn btn-primary btn-lg" role="button">Let’s get bizzay!</a></p> 
	</div>
	<div id="LadyMap">
	</div>

	</body>
</html>




