<html>

	<body>

	</br>
	</br>
	</br>
	</br>
	<form role="form">
  		<div class="search">
    		<input type="search" class="form-control" id="exampleSearch" placeholder="Enter the kind of place you’re looking for (restaurant, gym, bawdy house, etc.)">
  		</div>
  	</form>
	<!-- <div class = "search">
	<form action = "" method = "post" enctype = "multipart/form-data">
		<textarea name ="message" rows = "2" cols = 180px> </textarea> <class = "search_btn" input type = "submit" value = "Search"/>
	</form>
	</div> -->
	</br>
	<div id="map"></div>

	</body>
	
</html>